.modal-container {
  .modal-btn {
    background-color: unset;
    border: none;
    background-image: url('../../vendor/secondPage/textBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    padding: 5% 15%;

    @media screen and (orientation: portrait) {
      font-size: calc((75vw - 4.5rem) / 10);
    }
    @media screen and (orientation: landscape) {
      font-size: calc((75vh - 4.5rem) / 20);
    }

    &.btn:first-child:active {
      background-color: unset;
    }
  }
}

.modal {
  .modal-title {
    // background-color: red;
    text-align: center;
    width: 100%;
    & * {
      display: inline-block;
    }
  }
  .modal-body {
    height: 80vh;
    display: block;
    position: relative;

    p {
      font-size: 1.5rem;
      span {
        font-weight: 900;
      }
    }

    .vow-container {
      background-image: url('../../vendor/secondPage/background.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      height: fit-content;
      padding: 25%;

      p {
        @media screen and (orientation: portrait) {
          font-size: calc((75vw - 4.5rem) / 13);
        }
        @media screen and (orientation: portrait) and (min-width: 768px) {
          font-size: calc((75vw - 4.5rem) / 20);
        }
        @media screen and (orientation: landscape) {
          font-size: calc((50vh - 4.5rem) / 20);
        }
      }
    }
  }
}
